body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #030658;
    color: #799808;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #010637;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #555;
}

section {
    padding: 2em;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#container {
    text-align: center;
    background-color: #007bff;
}

button {
    background-color: rgb(210, 105, 30);
    font-size: 20px;
    border-radius: 20px;
}